.highlight {
    color: #FFA500; /* Change this to match the orange color in your design */
  }
.videomain{
    padding: 90px;
    text-align: center;
    width: 100%;

}
.videomain h1{
    margin-bottom: 60px;
}

.videobutton{
margin-top: 30px;
}


